box.desktop-preview {
  min-height: 10px;
  padding: 0 4px;
  background-color: black;
}

box.desktop-preview image {
  color: white;
}

box.desktop-preview label {
  color: white;
  font-weight: bold;
  font-size: 6px;
}
